# Punto 02 del Informe de Machine Learning

### Importaciones

In [1]:
import sklearn
import numpy as np
import pandas as pd

### 1. Leer los datos del archivo titanic.csv.
#### Si el archivo se encuentra en su carpeta, corra el primer bloque, de no ser así, ejecute el segundo.

In [2]:
direccion = ("./data/titanic.csv")
datos = pd.read_csv(direccion, sep=";")

datos.columns = ["survived", "Name", "pclass", "sex", "age", "sibsp", "parch", "fare", "who", "embark_town", "alone"]

In [ ]:
url = ("https://raw.githubusercontent.com/karenmoreno17/Informe-Machine-Learning/main/titanic.csv")
datos = pd.read_csv(url, sep=";")

datos.columns = ["survived", "Name", "pclass", "sex", "age", "sibsp", "parch", "fare", "who", "embark_town", "alone"]

### 2. Eliminación del atributo Name.

In [3]:
datos.drop(["Name"], axis = 1, inplace = True)

### 3. Selección del 80% de datos para entrenar, y el 20% restante para las pruebas.

In [4]:
from sklearn.model_selection import train_test_split 

n = len(datos)
datosEntreno = int(n * 0.8) #El 80% para entrenar y el 20% para las pruebas.
datosPruebas = n - datosEntreno
print(n, datosEntreno, datosPruebas)
train_data, test_data = sklearn.model_selection.train_test_split(datos, train_size = datosEntreno, test_size = datosPruebas)

891 712 179

In [5]:
train_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,who,embark_town,alone
368,1,3,female,NaN,0,0,7.7500,woman,Queenstown,yes
438,0,1,male,64.0,1,4,263.0000,man,Southampton,no
273,0,1,male,37.0,0,1,29.7000,man,Cherbourg,no
309,1,1,female,30.0,0,0,56.9292,woman,Cherbourg,yes
809,1,1,female,33.0,1,0,53.1000,woman,Southampton,no

### 4. Normalizar los datos.

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 368 to 159
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     712 non-null    int64
 1   pclass       712 non-null    int64
 2   sex          712 non-null    object
 3   age          563 non-null    float64
 4   sibsp        712 non-null    int64
 5   parch        712 non-null    int64
 6   fare         712 non-null    float64
 7   who          712 non-null    object
 8   embark_town  710 non-null    object
 9   alone        712 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 61.2+ KB

In [8]:
# Variables cuantitativas (de tipo flotante).
datos.select_dtypes(include = ['float64']).describe()

              age        fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

In [9]:
# Variables cuantitativas (de tipo entero).
datos.select_dtypes(include = ['int64']).describe()

         survived      pclass       sibsp       parch
count  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642    0.523008    0.381594
std      0.486592    0.836071    1.102743    0.806057
min      0.000000    1.000000    0.000000    0.000000
25%      0.000000    2.000000    0.000000    0.000000
50%      0.000000    3.000000    0.000000    0.000000
75%      1.000000    3.000000    1.000000    0.000000
max      1.000000    3.000000    8.000000    6.000000

In [10]:
# Y variables categóricas (de tipo object).
datos.select_dtypes(include = ['object']).describe()

         sex  who  embark_town alone
count    891  891          889   891
unique     2    3            3     2
top     male  man  Southampton   yes
freq     577  537          644   537

In [13]:
# ============================================================================================================================================================
# Pipeline para las variables cuantitativas.
# ============================================================================================================================================================

from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Tenemos 6 variables cuantitativas
varCuantitativas = ['pclass', 'sibsp', 'parch', 'age', 'fare']

cuantiPipeline = Pipeline([
        ("imputer", SimpleImputer(strategy = "median")),
        ("scaler", StandardScaler()) 
    
    ])

In [14]:
# ============================================================================================================================================================
# Pipeline para las variables categóricas.
# ============================================================================================================================================================

from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

# 6 atributos categóricos
varCategoricas = ['sex', 'who', 'embark_town', 'alone']

catePipeline = Pipeline([
        ("imputer", SimpleImputer(strategy = "most_frequent")),
        ("cat_encoder", OneHotEncoder(sparse_output = False))
    ])

In [15]:
# ============================================================================================================================================================
# Pipeline completo.
# ============================================================================================================================================================

from sklearn.compose import ColumnTransformer

pipelineCompleto = ColumnTransformer([
    ("cuanti", cuantiPipeline, varCuantitativas),
    ("cate", catePipeline, varCategoricas), 
])

In [16]:
X_train = pipelineCompleto.fit_transform(train_data)
X_train.shape

(712, 15)

In [17]:
# Asignamos la variable dependiente, que para esta ocasión, es "survived"
Y_train = train_data['survived']
Y_train

368    1
438    0
273    0
309    1
809    1
      ..
354    0
303    1
293    0
281    0
159    0
Name: survived, Length: 712, dtype: int64